section.section-free-measurement
	.freemean-container
		.freemean-top
			.freemean-top-content
				.freemean-title
					b Бесплатный замер потолка и расчет точной стоимости
					|  у Вас дома уже сегодня
				.freemean-steps
					.freemean-step
						.freemean-step__top
							.freemean-step__top-number
								span 01
							img.freemean-step__top-pic(src="", alt="")
						.freemean-step__text
							p Замерщик привозит с собой все каталоги потолков и светильников.
								b  Вы сможете выбрать подходящий потолок, не выходя из дома
						.freemean-step__top
							.freemean-step__top-number
								span 02
							img.freemean-step__top-pic(src="", alt="")
						.freemean-step__text
							p
								b  Вы получите точный расчет стоимости в день вызова.
								|  Для расчета у замерщика есть ноутбук со специальной программой.

							p
								b Гарантируем, что эта стоимость потом не изменится!
		.freemean-bottom
			.freemean-form-wrap
				.freemean-form-warp
					form(action="")
						.freemean-form-inner
							.freemean-form-title Пригласите замерщика в удобное для Вас время
							.freemean-form-flex
								input.input.input--gray.freemean-form-input(type='phone' name='phone' placeholder='введите Номер телефона')
								button.btn-v2.freemean-form-btn
									.btn-v2__inner
										span.btn-v2__bg
										span.btn-v2__text Назначить встречу
							.freemean-form-privacy
								label
									input(type="checkbox" name="acceptance-569" value="1" aria-invalid="false" class="custom-chb")
									span.wpcf7-list-item-label
										span.wpcf7-list-item-label
											span.acceptance-text Согласен с
												a(href="/privacy-policy/" target="_blank") Политикой конфиденциальности сайта

				.freemean-seats
					.freemean-seats__text Свободных мест на сегодня:
					.freemean-seats__number 2
			.freemean-discount
				.freemean-discount__percent 5%
				.freemean-discount__text При желании мы можем подписать договор в этот же день. В этом случае Вы получите дополнительную скидку 5%.