.fresh-projects
	.container-fresh-projects
		h2.freshpr-title Посмотрите наши <b>свежие проекты</b>
		.freshpr-wrap
			.freshpr-wrap-bg-text Башдекор
			.freshpr-item
				img.freshpr-item__img(src="images/products/item-1.jpg", alt="")
				.freshpr-item-bottom
					.freshpr-item-bottom__size 22 м2
					.freshpr-item-bottom__flex
						.freshpr-item-bottom__name Классический потолок в&nbsp;спальню
						a.freshpr-item-bottom__more(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1") Больше фото
				.freshpr-item__links
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
			.freshpr-item
				img.freshpr-item__img(src="images/products/item-1.jpg", alt="")
				.freshpr-item-bottom
					.freshpr-item-bottom__size 22 м2
					.freshpr-item-bottom__flex
						.freshpr-item-bottom__name Классический потолок в&nbsp;спальню
						a.freshpr-item-bottom__more(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1") Больше фото
				.freshpr-item__links
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
			.freshpr-item
				img.freshpr-item__img(src="images/products/item-1.jpg", alt="")
				.freshpr-item-bottom
					.freshpr-item-bottom__size 22 м2
					.freshpr-item-bottom__flex
						.freshpr-item-bottom__name Классический потолок в&nbsp;спальню
						a.freshpr-item-bottom__more(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1") Больше фото
				.freshpr-item__links
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
			.freshpr-item
				img.freshpr-item__img(src="images/products/item-1.jpg", alt="")
				.freshpr-item-bottom
					.freshpr-item-bottom__size 22 м2
					.freshpr-item-bottom__flex
						.freshpr-item-bottom__name Классический потолок в&nbsp;спальню
						a.freshpr-item-bottom__more(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1") Больше фото
				.freshpr-item__links
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
			.freshpr-item
				img.freshpr-item__img(src="images/products/item-1.jpg", alt="")
				.freshpr-item-bottom
					.freshpr-item-bottom__size 22 м2
					.freshpr-item-bottom__flex
						.freshpr-item-bottom__name Классический потолок в&nbsp;спальню
						a.freshpr-item-bottom__more(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1") Больше фото
				.freshpr-item__links
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
					a(href="images/products/item-1.jpg" data-fancybox="freshpr-item-1")
			.freshpr-item.freshpr-item--insta
				.freshpr-item__instaInner
					a.foo-socials-item.foo-socials-item--inst(href="")
						img(src="images/footer/instagram.svg", alt="")
					.freshpr-insta-title Больше работ в&nbsp;нашем инстаграме
					.freshpr-insta-300 Получите 300 рублей за подписку в инстаграме
					a.freshpr-insta-a(href="https://instagram.com/") @bashdekor_str
					.freshpr-insta-counter(href="https://instagram.com/") 3 859 подписчиков
				img.freshpr-insta-pic(src='images/grey-logo-part.png')