section.section-map
	.secmap-bg
		img.secmap-clouds(src="", alt="")
		.secmap-map
	.container-map
		h2.secmap-title
			b Остались вопросы?
			|  Давайте встретимся и обсудим их за чашкой кофе
		.secmap-info
			.secmap-info-top
				.secmap-info-top__bg
					.secmap-info-top__border
				.secmap-info-container
					.secmap-item
						.secmap-item-title Адрес офиса:
						ul.secmap-list
							li.secmap-list-item
								.secmap-list-item__city г. Стерлитамак,
								.secmap-list-item__street ул. Строителей, дом 24;
							li.secmap-list-item
								.secmap-list-item__city г. Салават,
								.secmap-list-item__street ул. Салават первомайская, дом 67;
							li.secmap-list-item
								.secmap-list-item__city г. Ишимбай,
								.secmap-list-item__street ул. Бульварная, дом 43
					.secmap-item
						.secmap-item__title Время работы:
						.secmap-time
							.secmap-time__item Пн-Пт: 9:00 - 20:00
							.secmap-time__item Сб-Вс: 9-00 - 17:00
			.secmap-info-bottom
				.secmap-info-bottom__bg
					.secmap-info-bottom__border
				.secmap-info-container
					a.secmap-info-bottom__phone(href="tel:79874919455") +7(987) 491-94-55
					input.input.input--gray(type='phone' name='phone' placeholder='номер телефона')
					button.btn-v2
						span.btn-v2__bg
						span.btn-v2__text Назначить встречу