.section-other-company
	.otcomp-container
		.otcomp-left
			h2.otcomp-title <b>Уже получили смету на потолок</b> от другой компании?
			.otcomp-info
				p Отправьте ее нам. Мы проверим цены и ошибки в расчетах. С вероятностью 60% мы сможем уменьшить стоимость натяжного потолка на 10-15% без потери качества.

				p Вы получите от нас смету с более низкой ценой и аргументацию, на чем можно сэкономить.
			.otcomp-form-wrap
				form(action="")
					.otcomp-form-innner
						.otcomp-form-title Прикрепите сканы или фотографии сметы, отправьте нам и получите новую смету на 10-15% дешевле
						.otcomp--form-file-input Выбрать файлы

						.otcomp-form-flex
							input.input.input--gray.otcomp-form-input(type='phone' name='phone' placeholder='введите Номер телефона')
							button.btn-v2.otcomp-form-btn
								.btn-v2__inner
									span.btn-v2__bg
									span.btn-v2__text Получить новую смету на 10-15% дешевле

						.otcomp-privacy.freemean-form-privacy
							label
								input(type="checkbox" name="acceptance-569" value="1" aria-invalid="false" checked  class="custom-chb")
								span.wpcf7-list-item-label
									span.wpcf7-list-item-label
										span.acceptance-text Согласен с <a href="/privacy-policy/" target="_blank">Политикой конфиденциальности сайта</a>
		.otcomp-right
			img.otcomp-pic(src="images/other-company.png", alt="")