.section-reviews
	.reviews-container
		.reviews-videos
			.reviews-video-item
				a.reviews-video-wrap(href="http://www.youtube.com/embed/DkaUsBwe0fo" data-fancybox)
					img.reviews-video-preview(src="images/review.jpg", alt="")
				.reviews-text
					.reviews-text__name Илья Миронов
					.reviews-text__city г. Стерлитамак
			.reviews-video-item
				a.reviews-video-wrap(href="http://www.youtube.com/embed/DkaUsBwe0fo" data-fancybox)
					img.reviews-video-preview(src="images/review.jpg", alt="")
				.reviews-text
					.reviews-text__name Илья Миронов
					.reviews-text__city г. Стерлитамак
			.reviews-video-item
				a.reviews-video-wrap(href="http://www.youtube.com/embed/DkaUsBwe0fo" data-fancybox)
					img.reviews-video-preview(src="images/review.jpg", alt="")
				.reviews-text
					.reviews-text__name Илья Миронов
					.reviews-text__city г. Стерлитамак
			.reviews-video-item
				a.reviews-video-wrap(href="http://www.youtube.com/embed/DkaUsBwe0fo" data-fancybox)
					img.reviews-video-preview(src="images/review.jpg", alt="")
				.reviews-text
					.reviews-text__name Илья Миронов
					.reviews-text__city г. Стерлитамак
			.reviews-video-item
				a.reviews-video-wrap(href="http://www.youtube.com/embed/DkaUsBwe0fo" data-fancybox)
					img.reviews-video-preview(src="images/review.jpg", alt="")
				.reviews-text
					.reviews-text__name Илья Миронов
					.reviews-text__city г. Стерлитамак
			.reviews-video-item
				a.reviews-video-wrap(href="http://www.youtube.com/embed/DkaUsBwe0fo" data-fancybox)
					img.reviews-video-preview(src="images/review.jpg", alt="")
				.reviews-text
					.reviews-text__name Илья Миронов
					.reviews-text__city г. Стерлитамак
		.reviews-loadmore