.s9
	.container.s9__container
		.s9__left
			+title('Быстро и адекватно реагируем <span>на ваши просьбы и рекламации</span>', 's9__title')
			.s9__text Мы хотим, чтобы Вы полностью остались довольны нашей работой и рекомендовали нас друзьям. Поэтому на следующий день после монтажа мы позвоним Вам, чтобы уточнить как прошел монтаж
			.s9__stoptext
				img.s9__stoptext-img(src="images/s9/s9-stopwatch.png")
				.s9__stoptext-text <span>Если после установки потолка что-то пошло не так</span> (не горит свет, на полотне появились полосы или пятна), <span>то мы решим возникшие проблемы в течение 24 часов бесплатно</span>

		.s9__right
			.s9-pic
				img.s9-pic__1(src="images/s9-img-1.png", alt="")
				img.s9-pic__2(src="images/s9-img-2.png", alt="")
				img.s9-pic__3(src="images/s9-img-3.png", alt="")

	img.s9__bush(src="images/s9/s9-brush.png")


.s10
	.container.s10__container
		.s10__flex
			.s10__left
				.s10__img
					img(src="images/s10/s10-mans.png")
				.s10__info
					.s10__info-inner
						.s10__info-name Айдар и Елена Галимовы
						.s10__info-text
							span Основатели
							img.s10__info-logo(src="images/logo.png")
			.s10__right
				+title('Вы получите с нашей стороны <span>честность, комфорт, вежливость и заботу</span>', 's10__title')
				.s10__items
					.s10__item
						.s10__item-img
							img(src="images/s10/s10-w-1.png")
						.s10__item-content
							.s10__item-title Делаем все под ключ, чтобы Вам не пришлось самим что-то доделывать
							.s10__item-text Доставляем потолок, заносим, устанавливаем,  крепим все ваши светильники. Если светильников нет, то поможем подобрать в нашей компании.
					.s10__item
						.s10__item-img
							img(src="images/s10/s10-w-2.png")
						.s10__item-content
							.s10__item-title Заявленная в начале стоимость остается неизменной до конца
							.s10__item-text Если не укладываемся в смету — платим из своего кармана
					.s10__item
						.s10__item-img
							img(src="images/s10/s10-w-3.png")
						.s10__item-content
							.s10__item-title Ценим ваше время и нервы
							.s10__item-text Замерщик и монтажники приедут с максимальным опозданием 10&nbsp;мин. За каждые дополнительные 5&nbsp;минут опоздания Вы получите денежную компенсацию

	img.s10__bush(src="images/s10/s10-brush.png")