.s9
    .container.s9__container
        .s9__left
            +title('Быстро и адекватно реагируем <span>на ваши просьбы и рекламации</span>', 's9__title')
            .s9__text Мы хотим, чтобы Вы полностью остались довольны нашей работой и рекомендовали нас друзьям. Поэтому на следующий день после монтажа мы позвоним Вам, чтобы уточнить как прошел монтаж
            .s9__stoptext
                img.s9__stoptext-img(src="images/s9/s9-stopwatch.png")
                .s9__stoptext-text <span>Если после установки потолка что-то пошло не так</span> (не горит свет, на полотне появились полосы или пятна), <span>то мы решим возникшие проблемы в течение 24 часов бесплатно</span>

        .s9__img
            img(src="images/s9/s9-img.png")

    img.s9__brush(src="images/s9/s9-brush.png")