@media (max-width: 1600px) {
	.advantages {
		&__container {
			padding: 85px 0 0;
		}

		&__flex {
			margin: 0;
		}

		.advantages-item {
			width: calc(33.3333% - 30px);
			margin: 0 15px;

			&__picture {
				img {
					width: 80%;
				}
			}

			p {
				font-size: 20px;
				line-height: 28.52px;
			}
		}
	}
}