@media screen and (max-width:1700px) {
	.freemean-container {
		width: 1569px;
		max-width: calc(100% - 40px);
		padding-right: 0;
		padding-left: 0;
	}

	.freemean-bottom {
		padding-right: 15px;
	}

	.freemean-top-content {
		width: 858px;
	}

	.freemean-container {
		padding-top: 242px;
	}

	.freemean-form-wrap {
		max-width: calc(50% - 19px);
		padding: 55px 39px 46px 45px;
	}

	.freemean-discount {
		max-width: calc(50% - 119px);
	}

	.freemean-discount__inner {
		padding: 35px 33px 33px 51px;
	}

	.freemean-discount__percent {
		font-size: 93px;
	}

	.freemean-discount__text {
		letter-spacing: 0.22px;
		font-size: 19px;
		line-height: 27.56px;
	}

	.freemean-discount__pic {
		right: 33px;
		bottom: calc(100% + -23px);
	}

	.freemean-form-title {
		margin-top: -5px;
	}

	.freemean-form-btn {
		.btn-v2__text {
			letter-spacing: 1.07px;
			font-size: 14px;
			line-height: 25.23px;
		}
	}
}

@media screen and (max-width:1430px) {
	.freemean-container {
		width: 1205px;
		padding-top: 248px;
	}

	.freemean-top-content {
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		width: 709px;
		max-width: 100%;
	}

	.freemean-title {
		width: 100%;
	}

	.freemean-steps {
		width: 646px;
		max-width: 100%;
		margin-top: 69px;
	}

	.freemean-step:nth-child(1) {
		width: 266px;
		max-width: calc(50% - 20px);
	}

	.freemean-step:nth-child(2) {
		width: 341px;
		max-width: 50%;
	}

	.freemean-step__top-pic {
		top: -34px;
	}

	.freemean-step__text {
		margin-top: 31px;
	}

	.freemean-step__text p {
		font-size: 18px;
		line-height: 26px;
	}

	.freemean-step__text p+p {
		margin-top: 24px;
	}

	.freemean-discount {
		width: 562px;
		max-width: calc(100% - 562px);
		margin-bottom: 7px;

		&__pic {
			right: 24px;
		}
	}

	.freemean-discount-wrap-2 {}

	.freemean-discount__inner {
		padding: 32px 27px 36px 46px;
	}

	.freemean-discount__percent {
		font-size: 80px;
		line-height: 26.6px;
	}

	.freemean-discount__text {
		font-size: 16px;
		line-height: 23.65px;
	}

	.freemean-form-wrap {
		box-sizing: border-box;
		width: 541px;
		max-width: 100%;
		padding: 40px 49px 55px 50px;
		margin-bottom: 0;

		&-2 {

			width: calc(100% - 161px - 31px);
		}
	}

	.freemean-form-title {
		margin-top: -4px;
		letter-spacing: .10px;
		font-size: 19px;
		line-height: 23px;
	}

	.freemean-form-flex {
		display: flex;
		flex-wrap: wrap;
		margin-top: 18px;
	}

	.freemean-form-input {
		width: 100%;
		height: 60px;

		line-height: 1;

		&::placeholder {
			font-size: 9px;
		}
	}

	.freemean-form-btn {
		width: 100%;
		margin-top: 12px;

		.btn-v2__inner {
			min-height: 60px;

			.btn-v2__text {
				font-size: 10px;
				line-height: 18.22px;
				text-shadow: 0 2px 0 rgba(110, 185, 71, 0.35);
			}
		}
	}

	.freemean-seats {
		align-self: start;
		margin-top: 12px;
	}

	.freemean-seats {
		width: 161px;
		padding: 29px 14px 25px;

		&__text {
			font-size: 14px;
			line-height: 19.32px;
		}

		&__number {
			margin-top: 12px;
			font-size: 79px;
		}
	}

	.freemean-form-privacy--sec-freemean {
		margin-right: -112px;


		label .wpcf7-list-item-label {
			font-size: 12px;
			line-height: 18px;
		}

		label .custom-chb+span {


			padding-left: 22px;

			&::before {
				box-sizing: border-box;
				content: '';
				width: 12px;
				height: 12px;
				left: 3px;
				top: 4px;

			}

			&::after {
				left: 7px;
				top: 8px;
				width: 4px;
				height: 4px;
			}
		}
	}
}

@media screen and (max-width:1250px) {
	.freemean-container {
		width: 962px;
		padding-top: 252px;
	}


	.freemean-top-content {
		width: 633px;
	}

	.freemean-title-inner {
		font-size: 40px;
		line-height: 45px;
		letter-spacing: .4px;
		width: 572px;
		display: block;
		max-width: 100%;

		b {}
	}
	.freemean-steps {
		margin-top: 78px;
	}
	.freemean-discount__pic {
		left: -60px;
		bottom: calc(100% + -47px);
	}
}

@media screen and (max-width:835px) {}

@media screen and (max-width:515px) {}