@media screen and (max-width:1700px) {
	.section-other-company {
		overflow: hidden;
		clip-path: polygon(100% calc(100% - 164px), 69.1145833333% 100%, 0 calc(100% - 164px), 0 0, 100% 0);
	}

	.otcomp-container {
		padding-left: 0;
		padding-right: 0;
		padding-top: 115px;
		padding-bottom: 218px;
		width: 1388px;
		max-width: calc(100% - 40px);
	}

	.otcomp-left {
		padding-top: 0;
		width: 715px;
		max-width: 100%;
	}

	.otcomp-right {
		position: relative;
		flex-grow: 1;

	}

	.otcomp-pic {
		position: absolute;
		left: 59px;
		top: -34px;
		width: 961px;
		height: auto;
		display: block;
	}

	.otcomp-form-wrap {
		width: 684px;
	}

	.otcomp-form-flex {
		width: 593px;
		margin-top: 15px;
	}

	.otcomp-form-input {
		width: calc(50% + 7px);
	}

	.otcomp-form-btn {
		width: calc(50% - 29px);
		margin-top: 0;
	}
}

@media screen and (max-width:1430px) {
	.otcomp-container {
		width: 1191px;
		padding-top: 146px;
	}

	.otcomp-pic {
		top: -12px;
	}

	.otcomp-form-wrap {
		padding: 43px 56px 53px 41px;
		width: 642px;
		margin-top: 66px;
	}

	.custom-finp__title {
		margin-top: 30px;
	}

	.otcomp-form-flex {
		margin-top: 22px;
	}

	.otcomp-form-input {
		width: calc(50% + -7px);
	}

	.otcomp-form-btn {
		width: calc(50% - 6px);

	}

	.otcomp-privacy.freemean-form-privacy {
		margin-top: 35px;
	}

	.otcomp-container {
		padding-bottom: 260px;
	}

	.section-other-company {
		clip-path: polygon(100% calc(100% - 6.5vw), 74.4vw 100%, 0 calc(100% - 9vw), 0 0, 100% 0);
	}
}


@media screen and (max-width:1100px) {

	.otcomp-container {
		width: 959px;
		padding-top: 115px;
	}

	.otcomp-left {
		padding-top: 0;
		width: 660px;
	}

	.otcomp-title {

		font-size: 40px;
		line-height: 45px;

		b {
			letter-spacing: 0.4px;
		}
	}

	.otcomp-info {
		margin-top: 21px;
		margin-left: 21px;
		font-size: 18px;
		line-height: 28px;
		letter-spacing: .18px;
		width: 517px;

		p+p {
			margin-top: 28px;
		}
	}

	.otcomp-pic {
		left: -65px;
		top: 45px;
		width: 620px;
	}

	.otcomp-form-wrap {
		padding: 42px 56px 53px 52px;
		width: 660px;
		margin-top: 51px;
	}

	.otcomp-left {
		position: relative;
		z-index: 2;
	}

	.otcomp-right {
		position: relative;
		z-index: 1;

	}

	.otcomp-form-flex {
		width: 546px;
	}

	.otcomp-container {
		padding-bottom: 180px;
	}
}


@media screen and (max-width:835px) {}


@media screen and (max-width:515px) {}