@media (max-width: 1300px) {
	.popup--team {
		.popup__team {
			right: -55px;
		}
	}
}

@media (max-width: 1200px) {
	.popup-catalog {
		padding: 70px 69px 50px;

		picture {
			img {
				max-width: 490px;
				height: 100%;
			}
		}

		&__title {
			font-size: 35px;
			line-height: 37.79px;
			margin-bottom: 10px;
		}

		&__subtitle {
			font-size: 17px;
			line-height: 47.9px;
			margin-bottom: 13px;
		}

		&__form-flex {
			max-width: 510px;

			> input {
				padding: 0 25px;
			}
		}

		&__block {
			max-width: 260px;
		}

		.form {
			&__wrapper {
				input {
					max-width: 230px;
					height: 61px;
					font-size: 9px;

					&::placeholder {
						font-size: 9px;
					}
				}
			}

			&__socials {
				margin-bottom: 25px;
			}

			&__socials-item {
				padding: 10px 17px;
				height: 57px;
				font-size: 12px;

				svg {
					width: 17px;
					height: 17px;
				}
			}

			&__privacy-policy {
				font-size: 10px;
				line-height: 12.89px;
			}

			.btn-v2 {
				&__inner {
					min-height: 61px;
				}

				&__text {
					font-size: 10px;
					line-height: 14.09px;
				}
			}
		}

		.note {
			width: 124px;
			height: 124px;
			right: -108px;
			bottom: 15px;

			&__inner {
				p {
					font-size: 11px;
					line-height: 14.37px;
				}
			}
		}
	}

	.popup--quiz {
		padding: 56px 62px 0 0;

		picture {
			position: absolute;
			top: auto;
			bottom: 0;

			img {
				width: 100%;
				height: auto;
			}
		}

		.popup {
			&__flex {
				margin: 0 -40px;
				height: 100%;
			}

			&__left,
			&__right {
				margin: 0 40px;
			}

			&__left {
				width: calc(38% - 80px);
			}

			&__right {
				width: calc(62% - 80px);
				padding-top: 13px;
			}

			&__title {
				font-size: 35px;
				line-height: 37.79px;
				margin-bottom: 35px;
			}

			&__subtitle {
				font-size: 17px;
				line-height: 19px;
				margin-bottom: 13px;
			}

			&__form-flex {
				> input {
					font-size: 9px;
					height: 61px;
					max-width: 230px;

					&::placeholder {
						font-size: 9px;
					}
				}
			}
		}

		.form {
			&__socials {
				margin-bottom: 26px;
			}

			&__socials-item {
				padding: 10px 16.8px;
				font-size: 13px;
				height: 56px;

				svg {
					width: 18px;
					height: 18px;
				}
			}

			&__privacy-policy {
				font-size: 10px;
				line-height: 12.89px;
			}

			.btn-v2 {
				&__inner {
					min-height: 61px;
				}

				&__text {
					font-size: 10px;
				}
			}
		}
	}

	.popup--consult {
		padding: 23px 78px 0 0;

		.popup {
			&__left {
				width: calc(39% - 24px);
			}

			&__right {
				width: calc(61% - 24px);
			}

			&__title {
				font-size: 35px;
				line-height: 37.79px;
				margin-bottom: 14px;
			}

			&__subtitle {
				font-size: 17px;
				line-height: 24.43px;
				margin-bottom: 28px;
			}

			&__question {
				font-size: 17px;
				margin-bottom: 25px;
			}

			&__form-flex {
				> input {
					height: 61px;
					font-size: 9px;
					max-width: 235px;

					&::placeholder {
						font-size: 9px;
					}
				}
			}
		}

		.form {
			&__socials {
				margin-bottom: 26px;
			}

			&__socials-item {
				padding: 10px 17px;
				height: 57px;
				font-size: 12px;
			}

			.btn-v2 {
				&__inner {
					min-height: 61px;
				}

				&__text {
					font-size: 10px;
				}
			}

			&__privacy-policy {
				font-size: 10px;
				line-height: 12.89px;
			}
		}

		.s10 {
			bottom: 89px;
			left: 53%;

			&__info {
				width: 198px;
				min-height: 89px;
				padding: 17px 28px;
			}

			&__info-name {
				font-size: 11px;
				font-weight: 500;
				margin-bottom: 0;
			}

			&__info-text span {
				font-size: 11px;
				font-weight: 300;
			}

			&__info-logo {
				width: 65px;
			}
		}
	}

	.popup--team {
		padding: 65px 74px 70px;

		.popup {
			&__team {
				max-width: 489px;
				right: 8px;

				> img {
					width: 100%;
				}
			}

			&__title {
				max-width: 507px;
				font-size: 34px;
				line-height: 36.49px;
				margin-bottom: 38px;
			}

			&__services {
				margin-bottom: 37px;
			}

			&__services-item {
				margin-left: -26px;

				+ .popup__services-item {
					margin-top: 10px;
				}

				&-pic {
					max-width: 95px;

					img {
						width: 100%;
					}
				}

				p {
					max-width: 344px;
					font-size: 15px;
					line-height: 21.25px;
				}
			}

			&__form-flex {
				> input {
					max-width: 230px;
					height: 62px;
					font-size: 9px;

					&::placeholder {
						font-size: 9px;
					}
				}
			}

			&__block {
				max-width: 230px;
			}
		}

		.form {
			.btn-v2 {
				margin-bottom: 16px;

				&__inner {
					min-height: 62px;
				}

				&__text {
					font-size: 10px;
				}
			}

			&__privacy-policy {
				font-size: 10px;
				line-height: 12.89px;
			}
		}

		.s10 {
			top: 43%;
			left: 19px;

			&:last-child {
				top: 68%;
				right: 40px;
			}

			&__info {
				width: 203px;
				min-height: 89px;
				padding: 18px 24px 20px 29px;
			}
		}

		.team {
			&__first-name {
				width: 68px;
				height: 23px;
				font-size: 10px;
			}

			&__position {
				font-size: 10px;
			}

			&__expierence {
				span {
					font-size: 10px;
					padding-left: 10px;

					&::before {
						width: 5px;
						height: 5px;
					}
				}
			}
		}
	}

	.popup--gallery {
		padding: 44px 61px 139px 56px;

		.popup {
			&__title {
				font-size: 35px;
				line-height: 37.79px;
				margin-bottom: 32px;
			}

			&__gallery {
				padding-bottom: 63px;
			}

			&__thumbs {
				max-width: 127px;
				margin-right: 41px;
			}

			&__thumbs-item {
				height: 66px;

				+ .popup__thumbs-item {
					margin-top: 16px;
				}
			}

			&__content {
				max-height: 269px;
			}

			&__square {
				width: 75px;
				height: 35px;
				top: 7px;
				left: 6px;

				&::after {
					width: 6px;
					height: 6px;
					top: 15px;
					left: 11px;
				}

				span {
					font-size: 13px;
					line-height: 32px;
					left: 27px;
				}
			}

			&__liked {
				height: 139px;
				padding: 36px 56px 20px;
			}

			&__liked-text {
				max-width: 315px;
				margin-right: 50px;

				p {
					&:first-child {
						font-size: 22px;
						margin-bottom: 5px;
					}

					&:last-child {
						font-size: 12px;
						line-height: 14.8px;
					}
				}
			}
		}

		.form {
			> input {
				height: 62px;
				font-size: 9px;
				padding: 0 20px;
				max-width: 165px;

				&::placeholder {
					font-size: 9px;
				}
			}

			.custom-inp-numer {
				width: 83px;
			}

			.quiz-inp-size__m {
				font-size: 13px;
				margin-left: 7px;
			}

			.btn-v2 {
				&__inner {
					min-height: 62px;
				}

				&__text {
					font-size: 10px;
				}
			}
		}
	}
}

@media (max-width: 960px) {
	.popup-catalog {
		padding: 70px 48px 80px;

		picture {
			top: 12%;
			height: auto;

			img {
				max-width: 302px;
				height: auto;
			}
		}

		&__title {
			font-size: 27px;
			line-height: 29.04px;
		}

		&__subtitle {
			font-size: 16px;
			line-height: 45.23px;
			margin-bottom: 20px;
		}

		&__form-flex {
			flex-direction: column;
		}

		&__block {
			margin-left: 0;
		}

		.form {
			&__wrapper {
				max-width: 255px;
				margin: 0;

				input {
					max-width: 100%;
					margin-bottom: 18px;
				}
			}

			&__socials {
				margin-bottom: 20px;
			}

			&__socials-item {
				padding: 10px 9px;
				width: 55%;

				&:nth-child(odd) {
					width: 45%;
				}
			}

			&__privacy-policy {
				font-size: 10px;
				line-height: 12.17px;
			}

			.btn-v2 {
				margin-bottom: 20px;
			}
		}

		.note {
			right: -160px;
			bottom: 51px;
		}
	}

	.popup--quiz {
		padding: 56px 33px 0 0;

		.popup {
			&__title {
				font-size: 27px;
				line-height: 29.04px;
				margin-bottom: 18px;

				br {
					display: none;
				}
			}

			&__subtitle {
				font-size: 16px;
				line-height: 21.23px;
				margin-bottom: 21px;
			}

			&__flex {
				margin: 0 -25px;
			}

			&__left,
			&__right {
				margin: 0 25px;
			}

			&__left {
				width: calc(38% - 12.5px);
			}

			&__right {
				width: calc(62% - 12.5px);
			}

			&__form-flex {
				flex-direction: column;

				> input {
					height: 57px;
					max-width: 100%;
					margin-bottom: 25px;

					&::placeholder {
						font-size: 9px;
					}
				}
			}

			&__block {
				margin-left: 0;
			}
		}

		.form {
			max-width: 250px;

			&__socials-item {
				padding: 7px;
				font-size: 11px;
				height: 53px;

				&:nth-child(odd) {
					width: 50%;
				}

				&:nth-child(even) {
					width: 50%;
				}

				svg {
					width: 15px;
					height: 15px;
				}
			}

			.btn-v2 {
				width: 100%;

				&__inner {
					min-height: 57px;
				}
			}
		}
	}

	.popup--consult {
		padding: 23px 6px 56px;

		picture {
			position: absolute;
			right: auto;
			left: 50%;
			transform: translateX(-50%);

			img {
				width: auto;
			}
		}

		.popup {
			&__flex {
				flex-direction: column;
				margin: 0;
			}

			&__left,
			&__right {
				width: 100%;
				margin: 0;
			}

			&__right {
				padding-top: 131px;
				text-align: center;
			}

			&__title,
			&__subtitle {
				max-width: 630px;
				margin: 0 auto;
			}

			&__title {
				font-size: 24px;
				line-height: 28px;
				margin-bottom: 18px;
			}

			&__subtitle {
				font-size: 16px;
				line-height: 22.5px;
				margin-bottom: 22px;

				br {
					display: none;
				}
			}

			&__question {
				font-size: 16px;
			}

			&__form-flex {
				flex-direction: column;

				> input {
					max-width: 348px;
					margin-bottom: 20px;
				}
			}

			&__block {
				margin-left: 0;
			}
		}

		.s10 {
			display: none;
		}

		.form {
			max-width: 348px;
			margin: 0 auto;
			padding: 0 25px;

			&__socials {
				margin-bottom: 18px;
			}

			&__socials-item {
				padding: 10px;
				height: 57px;
				font-size: 11px;

				&:nth-child(odd) {
					width: 45%;
				}

				&:nth-child(even) {
					width: 55%;
				}

				svg {
					width: 16px;
					height: 16px;
				}
			}

			.btn-v2 {
				margin-bottom: 20px;
			}
		}
	}

	.popup--team {
		padding: 57px 59px 45px;

		.popup {
			&__team {
				right: -230px;
				bottom: -26px;
			}

			&__title {
				max-width: 420px;
				font-size: 27px;
				line-height: 29.04px;
				margin-bottom: 32px;
			}

			&__services-item {
				margin-left: -14px;

				+ .popup__services-item {
					margin-top: 24px;
				}

				&:last-child p {
					max-width: 182px;
				}

				p {
					font-size: 14px;
					line-height: 20.65px;
					max-width: 248px;
				}
			}

			&__form-flex {
				margin-left: -14px;

				> input {
					max-width: 200px;
					padding: 0 21px;
				}
			}

			&__block {
				max-width: 205px;
			}
		}

		.s10 {
			top: 46%;
			left: 41px;
		}
	}

	.popup--gallery {
		padding: 53px 7px 217px;

		.popup {
			&__title {
				font-size: 33px;
				line-height: 35.69px;
			}

			&__gallery {
				padding-bottom: 36px;
			}

			&__thumbs {
				margin-right: 25px;
			}

			&__thumbs-item {
				height: 62px;
			}

			&__content {
				max-height: 218px;
			}

			&__liked {
				height: 217px;
				padding: 28px 40px 20px;
				flex-wrap: wrap;
				align-items: flex-start;
			}

			&__liked-text {
				width: 100%;
				max-width: 100%;
				margin-right: 0;

				p {
					&:first-child {
						font-size: 20px;
						line-height: 35.69px;
						margin-bottom: 2px;
					}

					&:last-child {
						font-size: 12px;
						line-height: 13.98px;

						br {
							display: none;
						}
					}
				}
			}
		}

		.form {
			height: auto;

			.custom-inp-numer {
				width: 79px;
			}

			.quiz-inp-size__m {
				width: 29px;
				margin-left: 0;
			}
		}
	}
}

@media (max-width: 640px) {
	.popup-catalog {
		padding: 70px 9px 50px;

		picture {
			top: 30%;

			img {
				max-width: 82px;
			}
		}

		&__title {
			max-width: 100%;
			font-size: 26px;
			text-align: center;
		}

		&__subtitle {
			text-align: center;
		}

		.form {
			&__wrapper {
				margin: 0 auto;
			}
		}

		.note {
			display: none;
		}
	}

	.popup--quiz {
		padding: 56px 13px 0;

		.popup {
			&__title {
				font-size: 23px;
				line-height: 25.26px;
				text-align: center;
				margin-bottom: 35px;
			}

			&__subtitle {
				text-align: center;
			}

			&__flex {
				flex-direction: column;
				margin: 0;
			}

			&__left,
			&__right {
				width: 100%;
				margin: 0;
			}

			&__left {
				display: none;
			}
		}

		.form {
			margin: 0 auto;

			.btn-v2 {
				margin-bottom: 16px;
			}
		}
	}

	.popup--team {
		padding: 62px 12px 45px;

		.popup {
			&__team {
				display: none;
			}

			&__title {
				font-size: 19px;
				line-height: 22px;
				text-align: center;
				margin: 0 auto 32px;
			}

			&__services {
				margin-bottom: 45px;
			}

			&__services-item {
				flex-direction: column;
				margin-left: 0;

				&:last-child p {
					max-width: 200px;
				}

				&-pic {
					max-width: 100px;
				}

				p {
					font-size: 14px;
					line-height: 20.65px;
					margin-top: 21px;
					text-align: center;
					max-width: 300px;
				}
			}

			&__form-flex {
				flex-direction: column;
				align-items: center;
				margin-left: 0;

				> input {
					max-width: 400px;
					margin-bottom: 16px;
				}
			}

			&__block {
				max-width: 400px;
				margin-left: 0;
			}
		}

		.form .btn-v2 {
			margin-bottom: 32px;
		}
	}

	.popup--gallery {
		padding: 50px 10px 323px;

		.popup {
			&__title {
				font-size: 27px;
				line-height: 29.73px;
				margin-bottom: 28px;
			}

			&__square {
				display: none;
			}

			&__gallery {
				flex-direction: column;
				padding-bottom: 45px;
			}

			&__thumbs {
				max-width: 100%;
				display: flex;
				flex-wrap: wrap;
				order: 1;
				margin-right: 0;
				margin-top: 20px;
			}

			&__thumbs-item {
				max-width: 120px;
				width: 100%;

				+ .popup__thumbs-item {
					margin-top: 0;
				}

				&:not(:last-child) {
					margin-right: 20px;
				}
			}

			&__liked {
				height: 323px;
				padding: 28px 10px 20px;
			}

			&__liked-text {
				p {
					&:first-child {
						font-size: 20px;
					}

					&:last-child {
						font-size: 11px;
						line-height: 14px;

						br {
							display: block;
						}
					}
				}
			}
		}

		.form {
			flex-wrap: wrap;
			justify-content: flex-end;

			> input {
				width: 58%;
				margin-left: 15px;
				margin-bottom: 12px;
			}

			.quiz-inp-size__inp,
			.quiz-inp-size__m {
				margin-bottom: 12px;
			}

			.btn-v2 {
				width: 184px;
				margin-left: 8px;
				margin-bottom: 12px;
			}
		}
	}
}