@media (max-width: 1600px) {
	.quiz {
		&__container {
			padding: 137px 0 181px;
		}

		&__bg-text {
			display: none;
		}

		&__inner {
			padding: 46px 74px 72px;
		}

		&__get-it {
			max-width: 321px;
		}

		&__get-it-text {
			font-size: 23px;
			margin-bottom: 26px;
		}

		&--page {
			.quiz__container {
				padding: 200px 0 106px;
			}
		}
	}

	.quiz-get {
		height: 100px;

		+ .quiz-get {
			margin-top: 22px;
		}

		&__value {
			font-size: 43px;
			margin-right: 16px;
		}

		&__text {
			font-size: 17px;
			line-height: 22.19px;
		}

		&--with-pic {
			padding: 20px 32px 20px 76px;
		}
	}
}

@media (max-width: 1400px) {
	.quiz {
		&__bg-pic {
			top: 37%;
		}
	}
}

@media (max-width: 1200px) {
	.quiz {
		&__container {
			padding: 128px 0 128px;
		}

		&__sticker {
			width: 348px;
			height: 51px;

			&::after {
				width: 10px;
				height: 10px;
				top: 21px;
			}

			span {
				font-size: 20px;
				line-height: 51px;
				left: 43px;
			}
		}

		&__inner {
			padding: 41px 50px 82px 59px;
		}

		&__get-it {
			max-width: 259px;
			margin-right: 48px;
		}

		&__title {
			margin-bottom: 61px;
		}

		&__get-it-text {
			font-size: 19px;
			margin-bottom: 19px;
		}
	}

	.quiz-slider-wrap {
		max-width: calc(100% - 310px);
	}

	.quiz-steps {
		margin-top: 5px;

		&__text {
			width: 90px;
			font-size: 14px;
		}

		&__progress {
			height: 12px;
		}
	}

	.quiz-slide {
		padding-top: 28px;

		.quiz-slide-title {
			font-size: 17px;
			letter-spacing: 0.1px;
		}
	}

	.quiz-flex-3 {
		&__title {
			font-size: 13px;
			margin-top: 16px;
		}
	}

	.quiz-btn-wrap {
		.btn-v2 {
			width: 160px;

			&__inner {
				min-height: 55px;
			}

			&__text {
				font-size: 9px;
			}
		}
	}

	.quiz-inp-sizes {
		margin-top: 3px;
	}

	.quiz-inp-size {
		margin-top: 13px;

		+ .quiz-inp-size {
			margin-top: 17px;
		}

		&__name {
			width: 81px;
			font-size: 13px;
		}

		&__m {
			width: 31px;
			font-size: 13px;
			line-height: 16.38px;
		}
	}

	.custom-inp-numer {
		width: 107px;
		height: 52px;

		&__inp {
			font-size: 11px;
			padding-left: 21px;
		}

		&__btn {
			width: 58px;

			&::before {
				width: 10px;
				height: 6px;
			}
		}
	}

	.quiz-get {
		padding: 10px 26px;
		height: 81px;

		+ .quiz-get {
			margin-top: 18px;
		}

		&__value {
			font-size: 35px;
			margin-right: 12px;
		}

		&__text {
			font-size: 13px;
			line-height: 17.97px;
		}

		&--with-pic {
			padding: 10px 34px 10px 62px;

			&:last-child {
				.quiz-get__picture {
					top: -7px;
					left: -72px;
				}
			}

			.quiz-get__picture {
				top: 0;
				left: -34px;

				img {
					width: 80%;
				}
			}
		}
	}
}

@media (max-width: 960px) {
	.quiz {
		&__container {
			padding: 244px 0 141px;
		}

		&__bg-pic {
			right: -50px;
			top: 6%;
		}

		&__sticker {
			width: 406px;
			height: 59px;

			&::after {
				top: 25px;
			}

			span {
				font-size: 23px;
				line-height: 59px;
				left: 53px;
			}
		}

		&__title {
			max-width: 425px;
			margin: 0 auto 52px;

			br {
				display: none;
			}
		}

		&__inner {
			flex-direction: column;
			padding: 81px 65px 72px 59px;
		}

		.quiz-slider-wrap {
			max-width: 100%;
		}

		.quiz-steps {
			&__text {
				width: 140px;
				font-size: 16px;
			}
		}

		.quiz-slide {
			padding-top: 31px;
		}

		.quiz-slide-title {
			font-size: 19px;
		}

		.quiz-flex-3 {
			margin-top: 23px;

			&__title {
				font-size: 13px;
				margin-top: 18px;
			}

			&__item {
				margin-left: 27px;
			}

			&__item--4 {
				max-width: 100%;
				width: 127px;
				margin-left: 21px;

				.quiz-pic-gift {
					width: 68px;
					height: 73px;
					left: 0;
					bottom: -15px;
				}
			}
		}

		.quiz-btn-wrap {
			margin-top: 19px;
		}

		.btn-v2 {
			width: 176px;

			&__inner {
				min-height: 62px;
			}

			&__text {
				font-size: 11px;
			}
		}

		.quiz-inp-sizes {
			margin-top: 25px;
		}

		&__get-it {
			margin-right: 0;
			max-width: 100%;
			order: 1;
		}

		&__get-it-text {
			margin-bottom: 18px;
		}

		&__flex {
			flex-direction: row;
			margin: 0 -8px;
		}

		&--page {
			.quiz__container {
				padding-top: 193px;
			}
		}
	}

	.quiz-get {
		width: calc(50% - 16px);
		margin: 0 8px 18px;
		height: 72px;

		+ .quiz-get {
			margin-top: 0;
		}

		&__value {
			font-size: 31px;
		}

		&__text {
			font-size: 12px;
			line-height: 16.07px;
		}

		&--with-pic {
			padding: 10px 34px 10px 55px;
		}
	}
}

@media (max-width: 640px) {
	.quiz {
		&__container {
			padding: 195px 0 82px;
		}

		&__sticker {
			width: 292px;
			height: 43px;
			margin: 0 auto 37px;

			&::after {
				width: 8px;
				height: 8px;
				top: 17px;
				left: 13px;
			}

			span {
				font-size: 17px;
				line-height: 43px;
				letter-spacing: 0.4px;
				left: 38px;
			}
		}

		&__bg-pic {
			max-width: 115px;
			right: -61px;
			top: 10%;

			img {
				width: 100%;
			}
		}

		&__outer {
			margin: 0 -18px;
		}

		&__inner {
			padding: 52px 9px 78px;
		}

		&__title {
			max-width: 230px;
			margin: 0 auto 38px;
		}

		&__get-it-text {
			text-align: center;
		}

		&__flex {
			flex-direction: column;
			margin: 0;
			padding: 0 4px;
		}

		.quiz-slider::before {
			height: 100%;
		}

		.quiz-steps {
			&__text {
				width: 100px;
			}
		}

		.quiz-slide-title {
			text-align: center;
		}

		.quiz-flex-3 {
			&__item {
				width: 134px;
				max-width: calc(50% - 30px);
				margin-left: 28px;
				margin-bottom: 23px;
			}

			&__title {
				font-size: 12px;
			}
		}

		.quiz-btn-wrap {
			margin-top: 25px;
		}

		.btn-v2 {
			max-width: 100%;

			&__inner {
				min-height: 62px !important;
			}
		}

		&--page {
			.quiz__container {
				padding-top: 201px;
			}
		}
	}

	.quiz-get {
		width: 100%;
		margin: 0;
		padding: 10px 20px;

		+ .quiz-get {
			margin: 12px 0 0;
		}

		&__value {
			font-size: 27px;
		}

		&__text {
			font-size: 12px;

			br {
				display: none;
			}
		}

		&--with-pic {
			padding: 10px 30px 10px 91px;

			&:last-child .quiz-get__picture {
				top: 0;
				left: -30px;
			}

			.quiz-get__picture {
				top: 3px;
				left: 10px;

				img {
					width: 70%;
				}
			}
		}
	}
}