extends layouts/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	include partials/sidebar.pug

	#first-screen.first-screen(style='background-image: url("images/bg-first.jpg");')
		.container.first-screen__container
			.first-screen__man
				picture
					source(media='(max-width: 960px)', srcset='images/man-single-3.png')
					source(media='(max-width: 1200px)', srcset='images/man-single-2.png')
					source(media='(max-width: 1600px)', srcset='images/man-single.png')
					img(src="images/man.png" alt='man')
			.first-screen__content
				.first-screen__title Натяжные потолки <br> в Стерлитамаке
					.first-screen__price
						span от 189 ₽/м2
					p с бесплатной установкой <br> за 2 часа <span>уже завтра</span>
				a.first-screen__note.anchor(href='#advantages')
					p 5
					p <span>с 5 гарантиями</span> <br> по договору
					picture
						source(media='(max-width: 640px)', srcset='images/note-4.png')
						source(media='(max-width: 1200px)', srcset='images/note-3.png')
						source(media='(max-width: 1600px)', srcset='images/note-2.png')
						img(src="images/note.png" alt='')
			include partials/form.pug

	.bg-clouds(style='background-image: url(images/bg-clouds.jpg)')
		#advantages.advantages
			.container.advantages__container
				.advantages__flex
					.advantages-item
						.advantages-item__picture
							a(href='#popup-consult')
								img(src='images/advantages/item-1.png' alt='advantages-1')
						p Заявленная вначале стоимость остается неизменной до конца работ. <br> <span>Если не укладываемся в смету - <br> платим из своего кармана</span>
					.advantages-item
						.advantages-item__picture
							a(href='#popup-consult')
								img(src='images/advantages/item-2.png' alt='advantages-2')
						p Потолки «Башдекор» сохраняют качество <br> <span>и внешний вид в течение 25 лет <br> - без потребности в уходе</span>
					.advantages-item
						.advantages-item__picture
							a(href='#popup-consult')
								img(src='images/advantages/item-3.png' alt='advantages-3')
						p Устанавливаем потолки строго по государственным стандартам. <br> <span>Средний опыт монтажников «Башдекор» - 4,5 года</span>

		#quiz.quiz
			.container.quiz__container
				+title('Рассчитайте стоимость <br> натяжных потолков с установкой, <br> <span>ответив на 5 вопросов за 1 минуту</span>', 'quiz__title')
				.quiz__outer
					.quiz__inner
						.quiz__get-it
							.quiz__get-it-text Вы получите:
							.quiz__flex
								.quiz-get
									.quiz-get__value 3
									.quiz-get__text <span>варианта</span> сметы <br> по вашим параметрам
								.quiz-get
									.quiz-get__value 50%
									.quiz-get__text <span>скидка</span> на все варианты
								.quiz-get.quiz-get--with-pic
									.quiz-get__picture
										img(src='images/quiz-get-1.png' alt='quiz-get-1')
									.quiz-get__text <span>Подарок ценой</span> <br> до 5000 рублей <br> за ваши ответы
								.quiz-get.quiz-get--with-pic
									.quiz-get__picture
										img(src='images/quiz-get-2.png' alt='quiz-get-2')
									.quiz-get__text <span>Каталог потолков,</span> <br> который подойдут именно вашему дому
						.quiz-slider-wrap
							.quiz-steps
								.quiz-steps__text Шаг <span class="quiz-steps__current">1</span> из <span class="quiz-steps__all">5</span>
								.quiz-steps__progress
									.quiz-steps__progress_finished(style="width:0%;")
							#quiz-slider-1.quiz-slider.js-quiz-slider
								.quiz-slide.js-num-place
									.quiz-slide_inner
										.quiz-slide-title Куда Вы планируете  установить потолок?
										.quiz-flex-3
											label.quiz-flex-3__item
												input(type="checkbox", id="house", name="slide1" checked)
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира (дом)
											label.quiz-flex-3__item
												input(type="checkbox", id="living-room", name="slide1")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Гостиная (Зал)
											label.quiz-flex-3__item
												input(type="checkbox", id="bathroom", name="slide1")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Ванная / Туалет
											label.quiz-flex-3__item
												input(type="checkbox", id="kitchen", name="slide1")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Кухня
											label.quiz-flex-3__item
												input(type="checkbox", id="hall", name="slide1")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Коридор
											label.quiz-flex-3__item
												input(type="checkbox", id="other", name="slide1")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Другие комнаты

										.quiz-btn-wrap
											button.btn-v2.btn-quiz-next.js-quiz-next-slide
												.btn-v2__inner
													span.btn-v2__bg
													span.btn-v2__text далее
								.quiz-slide
									.quiz-slide_inner
										.quiz-slide-title Укажите примерную площадь комнат
										.quiz-inp-sizes
											.quiz-inp-size(data-place='house' style='display: flex')
												.quiz-inp-size__name Вся квартира (дом)
												.quiz-inp-size__inp
													.custom-inp-numer.js-custom-inp-numer
														input.custom-inp-numer__inp(type="number" min="0" max="9999" value="0")
														.custom-inp-numer__btns
															.custom-inp-numer__btn.custom-inp-numer__more
															.custom-inp-numer__btn.custom-inp-numer__less
												.quiz-inp-size__m м<sup>2</sup>
											.quiz-inp-size(data-place='living-room')
												.quiz-inp-size__name Гостиная (Зал)
												.quiz-inp-size__inp
													.custom-inp-numer.js-custom-inp-numer
														input.custom-inp-numer__inp(type="number" min="0" max="9999" value="0")
														.custom-inp-numer__btns
															.custom-inp-numer__btn.custom-inp-numer__more
															.custom-inp-numer__btn.custom-inp-numer__less
												.quiz-inp-size__m м<sup>2</sup>
											.quiz-inp-size(data-place='bathroom')
												.quiz-inp-size__name Ванная / Туалет
												.quiz-inp-size__inp
													.custom-inp-numer.js-custom-inp-numer
														input.custom-inp-numer__inp(type="number" min="0" max="9999" value="0")
														.custom-inp-numer__btns
															.custom-inp-numer__btn.custom-inp-numer__more
															.custom-inp-numer__btn.custom-inp-numer__less
												.quiz-inp-size__m м<sup>2</sup>
											.quiz-inp-size(data-place='kitchen')
												.quiz-inp-size__name Кухня
												.quiz-inp-size__inp
													.custom-inp-numer.js-custom-inp-numer
														input.custom-inp-numer__inp(type="number" min="0" max="9999" value="0")
														.custom-inp-numer__btns
															.custom-inp-numer__btn.custom-inp-numer__more
															.custom-inp-numer__btn.custom-inp-numer__less
												.quiz-inp-size__m м<sup>2</sup>
											.quiz-inp-size(data-place='hall')
												.quiz-inp-size__name Коридор
												.quiz-inp-size__inp
													.custom-inp-numer.js-custom-inp-numer
														input.custom-inp-numer__inp(type="number" min="0" max="9999" value="0")
														.custom-inp-numer__btns
															.custom-inp-numer__btn.custom-inp-numer__more
															.custom-inp-numer__btn.custom-inp-numer__less
												.quiz-inp-size__m м<sup>2</sup>
											.quiz-inp-size(data-place='other')
												.quiz-inp-size__name Другие комнаты
												.quiz-inp-size__inp
													.custom-inp-numer.js-custom-inp-numer
														input.custom-inp-numer__inp(type="number" min="0" max="9999" value="0")
														.custom-inp-numer__btns
															.custom-inp-numer__btn.custom-inp-numer__more
															.custom-inp-numer__btn.custom-inp-numer__less
												.quiz-inp-size__m м<sup>2</sup>
										.quiz-btn-wrap
											button.btn-v2.btn-v2--gray.btn-v2--gray-with-bottom.btn-quiz-prev.js-quiz-prev-slide
												.btn-v2__inner
													span.btn-v2__bg
													span.btn-v2__text назад
											button.btn-v2.btn-quiz-next.js-quiz-next-slide
												.btn-v2__inner
													span.btn-v2__bg
													span.btn-v2__text далее
								.quiz-slide
									.quiz-slide_inner
										.quiz-slide-title Какой потолок Вы хотите?
										.quiz-flex-3.quiz-flex-3--4
											label.quiz-flex-3__item.quiz-flex-3__item--4
												input(type="checkbox", name="slide3" checked)
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Классический белый
											label.quiz-flex-3__item.quiz-flex-3__item--4
												input(type="checkbox", name="slide3")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира
											label.quiz-flex-3__item.quiz-flex-3__item--4
												input(type="checkbox", name="slide3")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира
											label.quiz-flex-3__item.quiz-flex-3__item--4
												input(type="checkbox", name="slide3")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира
											label.quiz-flex-3__item.quiz-flex-3__item--4
												input(type="checkbox", name="slide3")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира
											label.quiz-flex-3__item.quiz-flex-3__item--4
												input(type="checkbox", name="slide3")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира

										.quiz-btn-wrap
											button.btn-v2.btn-v2--gray.btn-v2--gray-with-bottom.btn-quiz-prev.js-quiz-prev-slide
												.btn-v2__inner
													span.btn-v2__bg
													span.btn-v2__text назад
											button.btn-v2.btn-quiz-next.js-quiz-next-slide
												.btn-v2__inner
													span.btn-v2__bg
													span.btn-v2__text далее
								.quiz-slide
									.quiz-slide_inner
										.quiz-slide-title Выберите фактуру
										.quiz-flex-3.quiz-flex-3--4
											label.quiz-flex-3__item.quiz-flex-3__item--4
												input(type="checkbox", name="slide3" checked)
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Классический белый
											label.quiz-flex-3__item.quiz-flex-3__item--4
												input(type="checkbox", name="slide3")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира
											label.quiz-flex-3__item.quiz-flex-3__item--4
												input(type="checkbox", name="slide3")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира
											label.quiz-flex-3__item.quiz-flex-3__item--4
												input(type="checkbox", name="slide3")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира
											label.quiz-flex-3__item.quiz-flex-3__item--4
												input(type="checkbox", name="slide3")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира
											label.quiz-flex-3__item.quiz-flex-3__item--4
												input(type="checkbox", name="slide3")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира

										.quiz-btn-wrap
											button.btn-v2.btn-v2--gray.btn-v2--gray-with-bottom.btn-quiz-prev.js-quiz-prev-slide
												.btn-v2__inner
													span.btn-v2__bg
													span.btn-v2__text назад
											button.btn-v2.btn-quiz-next.js-quiz-next-slide
												.btn-v2__inner
													span.btn-v2__bg
													span.btn-v2__text далее
								.quiz-slide
									.quiz-slide_inner
										.quiz-slide-title Укажите дополнительные предпочтения
										.quiz-flex-3
											label.quiz-flex-3__item
												input(type="checkbox", name="slide1" checked)
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира (дом)
											label.quiz-flex-3__item
												input(type="checkbox", name="slide1")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира (дом)
											label.quiz-flex-3__item
												input(type="checkbox", name="slide1")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира (дом)
											label.quiz-flex-3__item
												input(type="checkbox", name="slide1")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира (дом)
											label.quiz-flex-3__item
												input(type="checkbox", name="slide1")
												.quiz-flex-3__inner
													.quiz-flex-3__pic
														img(src="images/products/item-1.jpg", alt="")
													.quiz-flex-3__title Вся квартира (дом)

										.quiz-btn-wrap
											button.btn-v2.btn-v2--gray.btn-v2--gray-with-bottom.btn-quiz-prev.js-quiz-prev-slide
												.btn-v2__inner
													span.btn-v2__bg
													span.btn-v2__text назад
											button.btn-v2.btn-quiz-next.js-quiz-next-slide
												.btn-v2__inner
													span.btn-v2__bg
													span.btn-v2__text далее

								.quiz-slide
									.quiz-slide_inner
										.quiz-slide-title Выберите подарок за прохождение теста
											.quiz-flex-3.quiz-flex-3--4
												label.quiz-flex-3__item.quiz-flex-3__item--4
													input(type="checkbox", name="slide3" checked required)
													.quiz-flex-3__inner
														.quiz-flex-3__pic.quiz-flex-3__pic--gift
															img(src="images/products/item-1.jpg", alt="")
															.quiz-pic-gift
														.quiz-flex-3__title Классический белый
												label.quiz-flex-3__item.quiz-flex-3__item--4
													input(type="checkbox", name="slide3" required)
													.quiz-flex-3__inner
														.quiz-flex-3__pic.quiz-flex-3__pic--gift
															img(src="images/products/item-1.jpg", alt="")
															.quiz-pic-gift
														.quiz-flex-3__title Вся квартира
												label.quiz-flex-3__item.quiz-flex-3__item--4
													input(type="checkbox", name="slide3" required)
													.quiz-flex-3__inner
														.quiz-flex-3__pic.quiz-flex-3__pic--gift
															img(src="images/products/item-1.jpg", alt="")
															.quiz-pic-gift
														.quiz-flex-3__title Вся квартира


										.quiz-btn-wrap
											button.btn-v2.btn-v2--gray.btn-v2--gray-with-bottom.btn-quiz-prev.js-quiz-prev-slide
												.btn-v2__inner
													span.btn-v2__bg
													span.btn-v2__text назад
											button.btn-v2.btn-quiz-next.js-quiz-next-slide
												.btn-v2__inner
													span.btn-v2__bg
													span.btn-v2__text далее
					.popup.popup--quiz(style='background-image: url(images/bg-clouds.jpg);')
						.popup__flex
							.popup__left
								picture
									source(media='(max-width: 960px)', srcset='images/popup/phone.png')
									img(src='images/popup/phone.png' alt='phone')
							.popup__right
								.popup__subtitle Мы получили ваши данные и приступили к расчету
								.popup__title В течение 20 минут вышлем <br> <span>3 варианта сметы со скидкой</span> до 50% + каталог потолков
								form.form(action='', method='POST')
									.form__wrapper
										.form__socials
											label.form__socials-item
												input(type='checkbox')
												svg
													use(xlink:href='./svg/sprite.svg#socials--viber')
												span Viber
											label.form__socials-item
												input(type='checkbox')
												svg
													use(xlink:href='./svg/sprite.svg#socials--telegram')
												span Telegram
											label.form__socials-item
												input(type='checkbox')
												svg
													use(xlink:href='./svg/sprite.svg#socials--wa')
												span WhatsApp
											label.form__socials-item
												input(type='checkbox')
												svg
													use(xlink:href='./svg/sprite.svg#socials--phone')
												span По телефону
										.popup__form-flex
											+input('phone', 'phone', 'input--gray', 'номер телефона')
											.popup__block
												.btn-v2
													.btn-v2__inner
														span.btn-v2__bg
														span.btn-v2__text получить 3 варианта со скидкой
												.form__privacy-policy Оставляя заявку, вы соглашаетесь <br> с <a href="#" target="_blank">политикой конфиденциальности</a>
		.achievements
			.container.achievements__container
				+title('За 15 лет «Башдекор» установил больше потолков, <br> <span>чем все компании Стерлитамака <br> вместе взятые</span>', 'achievements__title')
				.achievements__video
					img(src='images/achievements/video.png' alt='achievements-video')
					.achievements__outer
						a.play(href="http://www.youtube.com/embed/DkaUsBwe0fo" data-fancybox)
							.pulse.pulse-1
							.pulse.pulse-2
							.pulse.pulse-3
							.pulse.pulse-4
							.pulse-core
								img(src='img/play.png' alt='play')
						.achievements__inner
							p <span>Посмотрите</span> самые заказываемые модели потолков
				.achievements__counter
					.achievements__counter-item
						.achievements__counter-img
							picture
								source(media='(max-width: 640px)', srcset='images/achievements/item-1-sm.png')
								img(src='images/achievements/item-1.png' alt='achievements-item-1')
						.achievements__counter-wrap
							.achievements__digit(data-count='18563') 0
							.achievements__text <span>потолков</span> установили <br> за время работы
					.achievements__counter-item
						.achievements__counter-img
							img(src='images/achievements/item-2.png' alt='achievements-item-2')
						.achievements__counter-wrap
							.achievements__digit(data-count='6282') 0
							.achievements__text <span>заказчиков</span> уже получили натяжные потолки <br> в свои дома и квартиры

		.products
			.container.products__container
				+title('Воплощаем в жизнь любые идеи <span>от классического <br> белого потолка до современных решений <br> </span> типа Double Vision', 'products__title')
				.products__subtitle Посмотрите самые заказываемые модели потолков
				.products__flex
					.product-item
						.product-item__img
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.product-item__content
							.product-item__title Многоуровневые <br> потолки
							.product-item__description(style='display: none;')
								p Монотонное белое полотно без излишек - самый популярный вариант исполнения.
								p Его заказывают 80% заказчиков.
								p от 189 ₽/м2
							a.btn-v2.btn-v2--gray(href='#popup-gallery')
								.btn-v2__inner
									span.btn-v2__bg
									span.btn-v2__text Рассчитать стоимость
					.product-item
						.product-item__img
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.product-item__content
							.product-item__title Классические белые потолки
							.product-item__description(style='display: none;')
								p Монотонное белое полотно без излишек - самый популярный вариант исполнения.
								p Его заказывают 80% заказчиков.
								p от 189 ₽/м2
							a.btn-v2.btn-v2--gray(href='#popup-gallery')
								.btn-v2__inner
									span.btn-v2__bg
									span.btn-v2__text Рассчитать стоимость
					.product-item
						.product-item__img
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.product-item__content
							.product-item__title Цветные потолки
							.product-item__description(style='display: none;')
								p Монотонное белое полотно без излишек - самый популярный вариант исполнения.
								p Его заказывают 80% заказчиков.
								p от 189 ₽/м2
							a.btn-v2.btn-v2--gray(href='#popup-gallery')
								.btn-v2__inner
									span.btn-v2__bg
									span.btn-v2__text Рассчитать стоимость
					.product-item
						.product-item__img
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.product-item__content
							.product-item__title Потолки <br> с фотопечатью
							.product-item__description(style='display: none;')
								p Монотонное белое полотно без излишек - самый популярный вариант исполнения.
								p Его заказывают 80% заказчиков.
								p от 189 ₽/м2
							a.btn-v2.btn-v2--gray(href='#popup-gallery')
								.btn-v2__inner
									span.btn-v2__bg
									span.btn-v2__text Рассчитать стоимость
					.product-item
						.product-item__img
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.product-item__content
							.product-item__title Парящие потолки
							.product-item__description(style='display: none;')
								p Монотонное белое полотно без излишек - самый популярный вариант исполнения.
								p Его заказывают 80% заказчиков.
								p от 189 ₽/м2
							a.btn-v2.btn-v2--gray(href='#popup-gallery')
								.btn-v2__inner
									span.btn-v2__bg
									span.btn-v2__text Рассчитать стоимость
					.product-item
						.product-item__img
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.product-item__content
							.product-item__title Потолки <br> с подсветкой
							.product-item__description(style='display: none;')
								p Монотонное белое полотно без излишек - самый популярный вариант исполнения.
								p Его заказывают 80% заказчиков.
								p от 189 ₽/м2
							a.btn-v2.btn-v2--gray(href='#popup-gallery')
								.btn-v2__inner
									span.btn-v2__bg
									span.btn-v2__text Рассчитать стоимость
					.product-item
						.product-item__img
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.product-item__content
							.product-item__title Звездное небо
							.product-item__description(style='display: none;')
								p Монотонное белое полотно без излишек - самый популярный вариант исполнения.
								p Его заказывают 80% заказчиков.
								p от 189 ₽/м2
							a.btn-v2.btn-v2--gray(href='#popup-gallery')
								.btn-v2__inner
									span.btn-v2__bg
									span.btn-v2__text Рассчитать стоимость
					.product-item
						.product-item__img
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.product-item__content
							.product-item__title Double Vision
							.product-item__description(style='display: none;')
								p Монотонное белое полотно без излишек - самый популярный вариант исполнения.
								p Его заказывают 80% заказчиков.
								p от 189 ₽/м2
							a.btn-v2.btn-v2--gray(href='#popup-gallery')
								.btn-v2__inner
									span.btn-v2__bg
									span.btn-v2__text Рассчитать стоимость
					.product-item.product-item--social
						a.product-item__insta(href='https://www.instagram.com/bashdekor_str/' target='_blank')
							svg
								use(xlink:href='./svg/sprite.svg#socials--insta')
						.product-item__subs
							p Больше работ <br> в нашем инстаграме
							p Получите 300 рублей <br> за подписку в инстаграме
							a(href='https://www.instagram.com/bashdekor_str/' target='_blank') @bashdekor_str
							p 3 859 подписчиков
						img(src='images/logo-badge.png' alt='logo-badge')
				.products__outer
					.products__inner
						img(src='images/catalog.png' alt='catalog')
						p Это не все модели потолков, что у нас есть

	#catalog.catalog
		.catalog__bg
			picture
				source(media='(max-width: 640px)', srcset='images/Hand.png')
				source(media='(max-width: 960px)', srcset='images/bg-catalog-2.png')
				img(src='images/bg-catalog.png' alt='catalog')
		.container.catalog__container
			.catalog__flex
				.catalog__flex-inner
					+title('Получите доступ <br> <span>к каталогу из 500 натяжных потолков</span>', 'catalog__title')
					.catalog__list
						span Мы собрали потолки на любой вкус:
						ul
							li Классические
							li Резные
							li Цветные
							li С подсветкой
							li С фотопечатью
							li Звездное небо
							li Несколько уровней
							li Double Vision
							li Парящие
						.catalog__pdf
							.catalog__pdf-inner
								img(src='img/pdf.png' alt='pdf')
								span PDF, 5 мб
				form.form.form--catalog(action='', method='POST')
					.form__inner
						.form__title Куда прислать ссылку на каталог?
						.form__wrapper
							.form__socials
								label.form__socials-item
									input(type='checkbox')
									svg
										use(xlink:href='./svg/sprite.svg#socials--viber')
									span Viber
								label.form__socials-item
									input(type='checkbox')
									svg
										use(xlink:href='./svg/sprite.svg#socials--telegram')
									span Telegram
								label.form__socials-item
									input(type='checkbox')
									svg
										use(xlink:href='./svg/sprite.svg#socials--wa')
									span WhatsApp
								label.form__socials-item
									input(type='checkbox')
									svg
										use(xlink:href='./svg/sprite.svg#socials--phone')
									span По телефону
							+input('phone', 'phone', 'input--gray', 'номер телефона')
							.btn-v2
								.btn-v2__inner
									span.btn-v2__bg
									span.btn-v2__text получить каталог потолков
							.form__bonus + персональную скидку до 50% на все позиции
							.form__privacy-policy Оставляя заявку, вы соглашаетесь с <a href="#" target="_blank">политикой <br> конфиденциальности</a>

	.bg-clouds(style='background-image: url(images/bg-clouds.jpg)')
		.quality
			.container.quality__container
				+title('Почему потолок сохраняет качество <br> <span>и внешний вид в течение 25 лет </span> <br> без потребности в уходе', 'quality__title')
				.quality__flex
					.product-item.product-item--quality
						.product-item__img
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.product-item__content
							.product-item__title Потолок не <br> требует ухода <br> и обновления
							.product-item__description(style='display: none;') В отличие от побелки <br> не трескается, не сыпется <br> и не выцветает на солнце. Остается чистым и не впитывает запахи даже на кухне
					.product-item.product-item--quality
						.product-item__img
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.product-item__content
							.product-item__title Надежное крепление <span>гарантирует безопасность конструкции</span>
							.product-item__description(style='display: none;') В отличие от побелки не трескается, не сыпется и не выцветает на солнце. Остается чистым и не впитывает запахи даже на кухне
					.product-item.product-item--quality
						.product-item__img
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.product-item__content
							.product-item__title Полотно <br> выдерживает <br> <span>нагрузку до 200 кг</span>
							.product-item__description(style='display: none;') В отличие от побелки не трескается, не сыпется и не выцветает на солнце. Остается чистым и не впитывает запахи даже на кухне
					.product-item.product-item--quality
						.product-item__img
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.product-item__content
							.product-item__title Гарантируют <br> <span>пожарную <br> безопасность</span>
							.product-item__description(style='display: none;') В отличие от побелки не трескается, не сыпется и не выцветает на солнце. Остается чистым и не впитывает запахи даже на кухне

		.work
			.container.work__container
				+title('<span>Установка потолков строго <br> по госстандартамот специалистов, </span> каждый из которых смонтировал минимум 50 потолков', 'work__title')
				.work__flex
					.work__items
						.work__item
							.work__item-img
								img(src='images/work/item-1.png' alt='')
							p <span>Средний опыт монтажников</span> "БашДекор" - 4,5 года и >100 установленных потолков. Наши монтажники обучают грамотному монтажу на ютубе
						.work__item
							.work__item-img
								img(src='images/work/item-2.png' alt='')
							p <span>Электромонтажные работы строго по СНИПу.</span> Выполняет профессиональный электрик, который есть в каждой бригаде
						.work__item
							.work__item-img
								img(src='images/work/item-3.png' alt='')
							p <span>Перед установкой проверяем</span> стены специальным оборудованием, чтобы обнаружить проводку <br> и не повредить при монтаже
						.work__item
							.work__item-img
								img(src='images/work/item-4.png' alt='')
							p <span>Все сотрудники проходят 2-недельное обучение</span> <br> в компании и сдают выпускной экзамен прежде, <br> чем приступить к монтажу
					.work__video-wrap
						.work__video
							p Узнайте как мы монтируем <br> потолки из 5-минутного видео
							a.play.play--small(href="http://www.youtube.com/embed/DkaUsBwe0fo" data-fancybox)
								.pulse.pulse-1
								.pulse.pulse-2
								.pulse.pulse-3
								.pulse.pulse-4
								.pulse-core
									img(src='img/play.png' alt='play')
						.work__picture
							img(src='images/products/item-1.jpg' alt='products-item-1')
						.note.note--work
							.note__inner
								svg
									use(xlink:href='./svg/sprite.svg#clock')
								p Среднее время монтажа <br> <span>2-2,5 часа</span>

	.team
		.container.team__container
			+title('<span>У нас 7 бригад монтажников,</span> <br> каждая из которых готова выехать к Вам уже завтра', 'team__title')
			.team__slider
				.team__slide
					.team__item-img
						img(src='images/products/item-1.jpg' alt='')
					.team__content
						.team__flex(style='display: none')
							.team__person
								.team__first-name Алексей
								.team__position
									svg
										use(xlink:href='./svg/sprite.svg#hammer')
									span Монтажник
								.team__expierence
									span 5 лет
									span 316 монтажей
							.team__person
								.team__first-name Руслан
								.team__position
									svg
										use(xlink:href='./svg/sprite.svg#light')
									span Электрик
								.team__expierence
									span 3 года
									span 129 монтажей
						a.btn-v2(href='#popup-team')
							.btn-v2__inner
								span.btn-v2__bg
								span.btn-v2__text выбрать бригаду
				.team__slide
					.team__item-img
						img(src='images/products/item-1.jpg' alt='')
					.team__content
						.team__flex
							.team__person
								.team__first-name Алексей
								.team__position
									svg
										use(xlink:href='./svg/sprite.svg#hammer')
									span Монтажник
								.team__expierence
									span 5 лет
									span 316 монтажей
							.team__person
								.team__first-name Руслан
								.team__position
									svg
										use(xlink:href='./svg/sprite.svg#light')
									span Электрик
								.team__expierence
									span 3 года
									span 129 монтажей
						a.btn-v2(href='#popup-team')
							.btn-v2__inner
								span.btn-v2__bg
								span.btn-v2__text выбрать бригаду
				.team__slide
					.team__item-img
						img(src='images/products/item-1.jpg' alt='')
					.team__content
						.team__flex
							.team__person
								.team__first-name Алексей
								.team__position
									svg
										use(xlink:href='./svg/sprite.svg#hammer')
									span Монтажник
								.team__expierence
									span 5 лет
									span 316 монтажей
							.team__person
								.team__first-name Руслан
								.team__position
									svg
										use(xlink:href='./svg/sprite.svg#light')
									span Электрик
								.team__expierence
									span 3 года
									span 129 монтажей
						a.btn-v2(href='#popup-team')
							.btn-v2__inner
								span.btn-v2__bg
								span.btn-v2__text выбрать бригаду

	.bg-clouds(style='background-image: url(images/bg-clouds.jpg)')
		include sections/s9-10.pug
		include sections/fresh-projects
		include sections/reviews
		include sections/other-company
		include sections/free-measurement
	include sections/map