header.header
	.overlay(style='display: none;')
	.container.header__container
		.header__logo
			img(src='images/logo.png' alt='logo')
		.header__whats-done Смонтировали >30 000 натяжных потолков <br> <span>в Стерлитамаке с 2005 года</span>
		.header__catalog
			img(src='images/catalog.png' alt='catalog')
			a(href='#popup-catalog') Скачать каталог
		.header__contacts Задайте вопрос в мессенджере:
			.header__socials
				a.header__socials-icon(href='#')
					svg
						use(xlink:href='./svg/sprite.svg#socials--wa')
				a.header__socials-icon(href='#')
					svg
						use(xlink:href='./svg/sprite.svg#socials--telegram')
			a.header__phone(href='tel:+79874919455') +7(987) 491-94-55
		.header__burger
			span
		a.header__socials-icon.header__socials-icon--mobile(href='#')
			svg
				use(xlink:href='./svg/sprite.svg#socials--wa')
	.header-menu
		.header__catalog
			img(src='images/catalog.png' alt='catalog')
			a(href='#popup-catalog') Скачать каталог
		a.header__phone(href='tel:+79874919455') +7(987) 491-94-55
		.header__contacts Задайте вопрос в мессенджере:
			.header__socials
				a.header__socials-icon(href='#')
					svg
						use(xlink:href='./svg/sprite.svg#socials--telegram')