form.form(action='', method='POST')
	.form__inner
		.form__title Получите 3 варианта <br> сметы потолков <span>для вашего дома со скидкой до 50%</span>
		.form__wrapper
			.form__subtitle Как Вам удобнее <br> получить варианты?
			.form__socials
				label.form__socials-item
					input(type='checkbox')
					svg
						use(xlink:href='./svg/sprite.svg#socials--viber')
					span Viber
				label.form__socials-item
					input(type='checkbox')
					svg
						use(xlink:href='./svg/sprite.svg#socials--telegram')
					span Telegram
				label.form__socials-item
					input(type='checkbox')
					svg
						use(xlink:href='./svg/sprite.svg#socials--wa')
					span WhatsApp
				label.form__socials-item
					input(type='checkbox')
					svg
						use(xlink:href='./svg/sprite.svg#socials--phone')
					span По телефону
			+input('phone', 'phone', 'input--gray', 'номер телефона')
			.btn-v2
				.btn-v2__inner
					span.btn-v2__bg
					span.btn-v2__text получить 3 варианта со скидкой
			.form__privacy-policy Оставляя заявку, вы соглашаетесь <br> с <a href="#" target="_blank">политикой конфиденциальности</a>
	.note
		.note__inner
			svg
				use(xlink:href='./svg/sprite.svg#event')
			p Акция действует до <span class='bonus-day'>15</span> <span class='bonus-month'>июля</span>