mixin popup()
	#popup-catalog.popup(style='display: none; background-image: url(images/bg-clouds.jpg);')
		picture
			source(media='(max-width: 960px)', srcset='images/popup/catalog-2.png')
			img(src='images/popup/catalog.png' alt='catalog')
		.popup__title Вместе с каталогом <br> Вы получите скидку <br> <span>до 50% на все модели</span>
		.popup__subtitle Куда прислать ссылку на каталог?
		form.form(action='', method='POST')
			.form__wrapper
				.form__socials
					label.form__socials-item
						input(type='checkbox')
						svg
							use(xlink:href='./svg/sprite.svg#socials--viber')
						span Viber
					label.form__socials-item
						input(type='checkbox')
						svg
							use(xlink:href='./svg/sprite.svg#socials--telegram')
						span Telegram
					label.form__socials-item
						input(type='checkbox')
						svg
							use(xlink:href='./svg/sprite.svg#socials--wa')
						span WhatsApp
					label.form__socials-item
						input(type='checkbox')
						svg
							use(xlink:href='./svg/sprite.svg#socials--phone')
						span По телефону
				.popup__form-flex
					+input('phone', 'phone', 'input--gray', 'номер телефона')
					.popup__block
						.btn-v2
							.btn-v2__inner
								span.btn-v2__bg
								span.btn-v2__text Получить каталог <br> и забронировать скидку до 50%
						.form__privacy-policy Оставляя заявку, вы соглашаетесь <br> с <a href="#" target="_blank">политикой конфиденциальности</a>
					.note
						.note__inner
							p Также мы <span>закрепим <br> за вашими контактами</span> скидку

	#popup-consult.popup.popup--consult(style='display: none; background-image: url(images/bg-clouds.jpg);')
		.popup__flex
			.popup__left
				picture
					source(media='(max-width: 960px)', srcset='images/popup/manager-2.png')
					img(src='images/popup/manager.png' alt='manager')
				.s10
					.s10__info
						.s10__info-inner
							.s10__info-name Александр Иванов
							.s10__info-text
								span Менеджер
								img.s10__info-logo(src="images/logo.png")
			.popup__right
				.popup__title Получите консультацию специалиста «Башдекор»
				.popup__subtitle <span>- он ответит на все ваши вопросы и подскажет, <br></span> какой потолок выбрать для вашего интерьера <br> в рамках вашего бюджета
				.popup__question Как удобнее получить консультацию?
				form.form(action='', method='POST')
					.form__wrapper
						.form__socials
							label.form__socials-item
								input(type='checkbox')
								svg
									use(xlink:href='./svg/sprite.svg#socials--viber')
								span Viber
							label.form__socials-item
								input(type='checkbox')
								svg
									use(xlink:href='./svg/sprite.svg#socials--telegram')
								span Telegram
							label.form__socials-item
								input(type='checkbox')
								svg
									use(xlink:href='./svg/sprite.svg#socials--wa')
								span WhatsApp
							label.form__socials-item
								input(type='checkbox')
								svg
									use(xlink:href='./svg/sprite.svg#socials--phone')
								span По телефону
						.popup__form-flex
							+input('phone', 'phone', 'input--gray', 'номер телефона')
							.popup__block
								.btn-v2
									.btn-v2__inner
										span.btn-v2__bg
										span.btn-v2__text получить консультацию
								.form__privacy-policy Оставляя заявку, вы соглашаетесь <br> с <a href="#" target="_blank">политикой конфиденциальности</a>

	#popup-team.popup.popup--team(style='display: none; background-image: url(images/bg-clouds.jpg);')
		.popup__team
			img(src='images/popup/team.png' alt='team')
			.s10
				.s10__info
					.team
						.team__person
							.team__first-name Руслан
							.team__position
								svg
									use(xlink:href='./svg/sprite.svg#light')
								span Электрик
							.team__expierence
								span 3 года
								span 129 монтажей
			.s10
				.s10__info
					.team__person
						.team__first-name Алексей
						.team__position
							svg
								use(xlink:href='./svg/sprite.svg#hammer')
							span Монтажник
						.team__expierence
							span 5 лет
							span 316 монтажей
		.popup__title Прежде чем приедет бригада монтажников, <span>необходимо сделать замеры помещений</span> <br> и выбрать подходящий потолок
		.popup__services
			.popup__services-item
				.popup__services-item-pic
					img(src='images/popup/team-item-2.png' alt='team-item-2')
				p <span>Замерщик привозит с собой все каталоги потолков</span> и светильников. Вы сможете выбрать подходящий потолок, не выходя из дома.
			.popup__services-item
				.popup__services-item-pic
					img(src='images/popup/team-item-1.png' alt='team-item-1')
				p <span>Вы получите точный расчет стоимости в день вызова.</span> Для расчета у замерщика есть ноутбук со специальной программой.
		form.form(action='', method='POST')
			.form__wrapper
				.popup__form-flex
					+input('phone', 'phone', 'input--gray', 'номер телефона')
					.popup__block
						.btn-v2
							.btn-v2__inner
								span.btn-v2__bg
								span.btn-v2__text договориться о времени
						.form__privacy-policy Оставляя заявку, вы соглашаетесь <br> с <a href="#" target="_blank">политикой конфиденциальности</a>