.sidebar
	a.sidebar__item.anchor(href='#quiz')
		figure
			svg
				use(xlink:href='./svg/sprite.svg#calculator')
			p <span>Рассчитать</span> стоимость
	a.sidebar__item.anchor(href='#support')
		figure
			svg
				use(xlink:href='./svg/sprite.svg#support')
			p <span>Консультация</span> специалиста
	a.sidebar__item.anchor(href='#catalog')
		figure
			svg
				use(xlink:href='./svg/sprite.svg#catalog')
			p <span>Каталог потолков <br> </span> с ценами
	a.sidebar__item.sidebar__item--up.anchor(href='#first-screen')
		figure
			svg
				use(xlink:href='./svg/sprite.svg#arrow')
			p <span>Наверх</span>