a {
	text-decoration: none;
}

html,
body {
	max-width: 100%;
	height: 100%;
}

input,
button {
	-webkit-appearance: none;
}

input,
button,
select,
textarea {
	font-family: $mainFont;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	outline: 0;
}

body {
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	color: $mainColor;
	background: $white;
	font-family: $mainFont;
}

ol,
ul,
nav {
	list-style: none;
}

img {
	display: block;
}

*:focus {
	outline: none;
}

.container {
	box-sizing: border-box;
	margin: 0 auto;
	width: 1570px;
	max-width: calc(100% - 60px);

	@media (max-width: 960px) {
		max-width: calc(100% - 33px);
	}
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 101;
	background-color: #2d2d31;
	opacity: 0.85;
}

.slider-arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	box-shadow: inset 0 -3px 4px rgba(255, 155, 125, 0.47);
	background-image: linear-gradient(54deg, #ff8533 0%, #f44233 100%);
	border-radius: 50%;

	svg {
		width: 35%;
		fill: #fcfcfc;
	}

	&--next {
		svg {
			transform: rotate(180deg);
			padding-right: 5px;
		}
	}

	&.slick-disabled {
		box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.13);
		background-image: linear-gradient(54deg, rgba(158, 158, 158, 1) 0%, rgba(237, 237, 237, 1) 100%);

		svg {
			fill: #9f9f9f;
		}
	}
}

.slide-down {
	transform: translateY(0) !important;
}

.main{
	overflow: hidden;
}