.section-other-company {
	overflow: hidden;
	margin-bottom: -164px;
	position: relative;
	z-index: 3;
	clip-path: polygon(100% calc(100% - 164px), 1317px 100%, 0 calc(100% - 164px), 0 0, 100% 0);
}

.otcomp-container {
	display: flex;
    padding: 130px 14px 168px 177px;
	width: 1920px;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
}

.otcomp-left {
	padding-top: 34px;
	width: 771px;
	max-width: 100%;
}

.otcomp-right {
	position: relative;
	flex-grow: 1;

}

.otcomp-pic {
	position: absolute;
    left: 0px;
    top: 0px;
	width: 957px;
	height: auto;
	display: block;
}

.otcomp-title {
	color: #21222d;
	font-size: 50px;
	line-height: 60px;
	font-weight: 300;

	b {
		font-weight: 500;

	}
}

.otcomp-info {
	margin-top: 22px;

	width: 684px;
	max-width: 100%;
	color: #21222d;
	font-size: 25px;
	font-weight: 300;
	line-height: 35px;
	letter-spacing: 0.25px;

	p {

		&+p {
			margin-top: 35px;
		}
	}
}

.otcomp-form-wrap {
	background-color: #eff3f8;
	padding: 49px 50px 53px 39px;
	width: 642px;
	box-sizing: border-box;
	max-width: 100%;
	margin-top: 38px;
}

.otcomp-form-innner {}



.otcomp-form-title {

	width: 473px;
	max-width: 100%;
	color: #21222d;
	font-size: 22px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0.22px;
}

.custom-finp {
	input {
		display: none;
	}

	&__title {
		display: inline-block;
		cursor: pointer;
		margin-top: 25px;

		color: #88a9ce;
		font-size: 18px;
		font-weight: 500;
		line-height: 1;
		letter-spacing: 0.18px;
		position: relative;
		padding-bottom: 3px;

		margin-left: 20px;
		border-bottom: 1px solid #85a7cd;
		transition-duration: .2s;

		&::before {
			content: '';
			display: block;
			background: url(../img/screp.svg) no-repeat center center;
			background-size: contain;
			width: 10px;
			height: 20px;
			opacity: 0.39;
			position: absolute;
			left: -20px;
			top: 2px;
		}

		&:hover {
			opacity: .7;
		}
	}

	&__items {
		margin-left: 20px;
		margin-top: 10px;
	}

	&__item {
		font-size: 14px;
		line-height: 1.4;
	}

}

.otcomp-form-flex {
	display: flex;
	margin-top: 21px;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 13px;
	width: 547px;
	max-width: 100%;
}

.otcomp-form-input {
	width: calc(50% - 7px);
}

.otcomp-form-btn {
	width: calc(50% - 6px);
	margin-top: -4px;

	.btn-v2__text {
		font-size: 14px;
		font-weight: 500;
		font-style: normal;
		letter-spacing: normal;
		line-height: 22px;
		padding: 10px 20px;
		box-sizing: border-box;
		letter-spacing: 1.09px;
	}
}

.otcomp-privacy.freemean-form-privacy {
	margin-top: 25px;

	label {}

	.custom-chb {}

	.wpcf7-list-item-label {
		.wpcf7-list-item-label {}

		.acceptance-text {
			a {
				&:hover {}

				&:active {}

				&:focus {}
			}
		}
	}
}


