.sidebar {
	width: 124px;
	position: fixed;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 101;

	&__item {
		display: block;
		padding: 20px 10px;
		box-shadow: 0 0 30px 10px rgba(220, 222, 237, 0.18);
		background-color: #a1a1a1;
		text-align: center;
		transition: background-color 0.3s ease;

		&:first-child {
			border-top-left-radius: 10px;
		}

		&:hover {
			background-color: #919191;
		}

		svg {
			max-width: 39px;
			height: 35px;
			fill: $white;
		}

		p {
			font-size: 14px;
			line-height: 15.32px;
			font-weight: 300;
			color: $white;
			margin-top: 10px;

			span {
				font-weight: 500;
			}
		}

		&--up {
			padding-bottom: 24px;

			svg {
				width: 22px;
				height: 15px;
				transform: rotate(90deg);
			}

			p {
				margin-top: 0;
			}
		}
	}
}




@media (max-width: 1100px) {
	.sidebar {
		width: auto;
		max-width: 100%;
		left: 50%;
		right: auto;
		top: auto;
		bottom: 0;
		transform: translate(-50%, 0);
		display: flex;

		&__pic-wrap {
			display: flex;
			flex-grow: 1;
			justify-content: center;
			align-items: center;
		}

		&__item {
			padding: 8px 10px 4px;

			&:first-child {
				border-radius: 10px 0 0 0;
			}

			&:last-child {
				border-radius: 0 10px 0 0;
			}

			p {
				font-size: 0;
				line-height: 0;
				margin-top: 6px;

				span {
					font-size: 12px;
					line-height: 12px;
					font-weight: 300;
					color: #fff;
					margin-top: 0;
					padding: 0;
				}
			}

			display: flex;
			flex-direction: column;

			figure {
				flex-grow: 1;
				display: flex;
				flex-direction: column;
				align-items: center;

				svg {
					height: 25px;
					max-height: 25px;
					max-width: 100%;
				}

				p {
					height: 24px;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}

}



@media (max-width: 335px) {
	.sidebar {
		width: 100%;
	}

	.sidebar__item {
		flex-grow: 1;
		padding: 8px 7px 4px;


	}

	.sidebar__item p span {
		font-size: 11px;
	}
}